@import url('normalize.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    border: 1px solid red;
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

body>header {
    padding: 1.5rem 0;
}

body>header,
body>footer {
    background: #123;
}

body>header nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    flex-wrap: wrap;
}

body>header nav ul a {
    color: white;
    text-decoration: none;
}

body>footer {
    color: #FFF;
}

body>footer>*:last-child {
    grid-column: span 3;
    text-align: center;
    padding: 1rem;
}

@media (min-width: 1000px) {
    body>footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

li {
    list-style-type: none;
}


form div {
    text-align: center;
}

label {
    display: block;
    margin-top: 1rem;
}

input,
textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0.5rem;
    resize: none;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    background: #DCD;
    padding: 0.5rem 1rem;
}

button:hover {
    background: red;
}

article.catalog {
    border: 1px solid #F0F;
    max-width: 20rem;
}

article.catalog>div {
    padding: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

